* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Review1{
  
     color: #000000;
  background-color: #778899;  /* Blue */
  padding: 20px 0;
   display: compact;
   justify-content: right; 
  
  
}



.menu-container {
  color: #fff;
  background-color: #778899;  /* Blue */
  padding: 20px 0;
   display: compact;
   justify-content: right; 
   
}

.name{
  
  
  width: 900px;
  display: block;
  justify-content: left;
  
  
}

.displayerPage{
  
    color: #000000;
  background-color: #F8F8FF;  /* Blue */
  padding: 20px 0;
   display: compact;
   justify-content: right; 
  
}


.menu {
  border: 1px solid #fff;
  width: 700px;
  display: flex;
  justify-content: space-around;
}



h1, h2, h3{
  
  font-family: "Helvetica", "Arial", sans-serif;
  font-weight: normal;
  text-align: center;
  
}

p, input, button{
  text-align: center;
 
}




body {
  color: #414141;               /* Dark gray */
  background-color: #EEEEEE;    /* Light gray */
  font-size: 18px;
     background-image: url("https://live.staticflickr.com/2922/13921687039_f75f661405_n.jpg");
     
}


.main {
    margin-top: 100px;    
}

.logo-img {
    display: block;
    width: 300px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.search-input {
    display: block;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    line-height: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid #EEEEEE;
    border-radius: 24px;
}






















